Sharot: A nightmare in the library.

Play vaguely Lovecraftian tarot cards that manipulate cards affecting
you and another, or only you, to reduce the influence of cosmic horrors
and possibly save your sanity.

Number of players.  2–4 players with a shared area between players
(playtested), 5–8 players with one shared area (not yet playtested).
A single player with sufficiently many and independent personalities
may play against himself.

Start play.  Shuffle and deal all cards to players’ hands (odd players
get any extra cards).  The player with Hermit plays it to any share or
side she wants.  The player to the right of that player moves the
Hermit anywhere he wants (since all shares and sides still have the
fewest number of arcane points, 0), and then plays a card from
his hand.  Play proceeds counter-clockwise.

General rules.  “Each turn” effects happen at the beginning of the
turn, in order by increasing card number.  Play cards to minimize
arcane points on your side and arcane points shared with each
other player.  Cards may play anywhere unless limited by their
effects, and specifically may join a stack with Tower or World.
Follow the order of effects on cards, it usually makes a difference.
Cards which affect only one card may affect one card in a stack,
limited by the effects of Tower and World.

Play area.  In addition to a side for each player, the playing area
for 2–4 players consists of a shared area between each player.
This approach makes the playing area complicated for 5 or more people.
In addition, smaller tables don’t well support a large number of sides.
In these cases, play with one shared area between all players,
and watch out for Lovers.

scoring

Winner.  The goal is to score the least points at the end of the game.
If your score is less than zero, you actually retain a functioning mind—
congratulations, you’ll notice when it’s eaten by your alien overlords!
