Triumph.

Divide deck among players, discard remainder face-down.

If any cards in draw pile, each player on turn draws one.

Cards played on a player’s side, even to affect that player’s cards by
another player, count towards the side’s player.

If you can’t play a card for effect, play it instead for value.

Game over when a player cannot play a card.
